<html>
<head><link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://unpkg.org/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
  <script type="text/javascript" src="vueFilter.js"></script>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@CodePen">
  <meta name="twitter:title" content="Vue search filter">
  <meta name="twitter:description" content="...">
  <meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/i.cdpn.io/925040.QdeOVa.0a0af583-db89-433f-8daf-0d9b35cd648b.png">
  <meta property="og:image" content="https://codepen.io/AndrewThian/pen/QdeOVa/image/large.png" itemprop="thumbnailUrl">
  <meta property="og:title" content="Vue search filter">
  <meta property="og:url" content="https://codepen.io/AndrewThian/details/QdeOVa">
  <meta property="og:site_name" content="CodePen">
  <meta property="og:description" content="...">
  
  <link rel="alternate" type="application/json+oembed" href="https://codepen.io/api/oembed?url=https://codepen.io/AndrewThian/pen/QdeOVa&amp;format=json" title="Vue search filter">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic" rel="stylesheet">
  <link rel="stylesheet" media="all" href="https://static.codepen.io/assets/global/global-bcf8a8174b928db7107722b0bc93149670eb9ffb80d26ea69102ff58c9b49ac8.css">
  <link rel="stylesheet" media="all" href="https://static.codepen.io/assets/editor/editor-6f76dd9a87bfb32a7f419f5895d40aa166933d70f63f50380fa4c71aa8f1f6ae.css">
  <link rel="stylesheet" media="screen" href="https://static.codepen.io/assets/editor/themes/twilight-b7518ff1bf118a4a6b48775ddfdb976a668667d600d096fb0d9e937df72efe84.css" id="cm-theme">
 
  
  <style id="cm-font-family" class="cm-font-family">
  
  .CodeMirror,
  .console-logs .console-line,
  .console-command-line-input,
  .console-message,
  .CodeMirror-hint {
    font-family: Monaco, MonoSpace;
  }
</style>
  <style id="cm-font-size">
  .CodeMirror,
  .console-logs .console-line,
  .console-command-line-input,
  .console-message,
  .CodeMirror-hint {
    font-size: 14px;
  }
</style>
  <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico">
  <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111">
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="C9//kv5fy+4Eza4ansXPZvHI470FYpGyQgjawNY33s62l4kXbjHH8wZIB6qRsRzf3jBhdzcjnO0EA70xcic/ug==">
  
  <script type="text/javascript" async="" src="https://cdn.heapanalytics.com/js/heap-2625472963.js"></script>
  <script type="text/javascript" charset="utf-8" async="" src="https://static.codepen.io/assets/packs/0-52ee7f32a1268ddfa765.js"></script>
  <link id="avast_os_ext_custom_font" href="chrome-extension://eofcbnmajmjmplflapaojjnihcjkigck/common/ui/fonts/fonts.css" rel="stylesheet" type="text/css">
  
</head>
<body>
<div id="app">
  <div class="search-wrapper">
    <input type="text" v-model="search" placeholder="Search title.."/>
        <label>Search title:</label>
  </div>
  <div class="wrapper">
    <div class="card" v-for="post in filteredList">
      <a v-bind:href="post.link" target="_blank">
        <img v-bind:src="post.img"/>
        <small>posted by: {{ post.author }}</small>
        {{ post.title }}
      </a>
    </div>
  </div>
</div>
<body>
</html>
